@import "../../../../utils/variables.scss";

.login {
	width: 50%;
	flex-wrap: wrap;
	margin: 0%;
	.login-area {
		background-color: $main-clr;
		padding: 15px 30px 20px;
		width: 100%;
		label {
			font-family: $main-font;
			font-size: $standard-size;
			font-weight: bold;
			display: inline-block;
			margin-top: 4%;
		}
		.single-field {
			width: 500px;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid #ddd;
			padding: 5px 10px;
			color: #fff;
			display: inline-block;
			max-width: 100%;
			font-size: 18px;

			.email {
				margin-top: 1%;
			}
			:focus-visible {
				outline-width: 0px;
			}
		}
		.form-field {
			align-self: flex-start;
			text-decoration: none;
			color: #fff;
			width: 100%;
			flex-direction: column;
			.form {
				box-sizing: border-box;
				flex-direction: column;
			}
			input {
				max-width: 500px;
				line-height: normal;
				width: 100%;
			}
			input:focus {
				outline: none;
			}
			.login-btn {
				font-size: $standard-size;
				font-family: $main-font;
				font-weight: 500;
				color: #dc4734;
				line-height: 1;
				padding: 9px 32px;
				max-height: 40px;
				min-height: 40px;
				border: 1px solid transparent;
				background-color: #fff;
			}
		}
	}
}
