@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
.flex {
  display: flex;
}

body {
  display: block;
  margin: 0px;
}

body {
  display: block;
  margin: 0px;
}

.connexion-page {
  flex-direction: column;
}
.connexion-page .connexion-header {
  width: 100%;
  height: 35vh;
  flex-basis: min-content;
}
.connexion-page .connexion-logo {
  align-self: center;
  justify-content: center;
  width: 50%;
}
.connexion-page .connexion-logo img {
  width: 45%;
  padding-right: 3vh;
}
.connexion-page .page-wrapper .img-wrapper {
  object-fit: fill;
  width: 50%;
}
.connexion-page .page-wrapper .img-wrapper img {
  width: 100%;
  object-fit: cover;
}

.login {
  width: 50%;
  flex-wrap: wrap;
  margin: 0%;
}
.login .login-area {
  background-color: #dc4734;
  padding: 15px 30px 20px;
  width: 100%;
}
.login .login-area label {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-top: 4%;
}
.login .login-area .single-field {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  font-size: 2vh;
}
.login .login-area .single-field .email {
  margin-top: 1%;
}
.login .login-area .single-field :focus-visible {
  outline-width: 0px;
}
.login .login-area .form-field {
  align-self: flex-start;
  text-decoration: none;
  color: #fff;
  width: 90%;
}
.login .login-area .form-field .form {
  box-sizing: border-box;
}
.login .login-area .form-field input {
  max-width: 100%;
  line-height: normal;
}
.login .login-area .form-field input:focus {
  outline: none;
}
.login .login-area .form-field .login-btn {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #dc4734;
  line-height: 1;
  padding: 9px 32px;
  max-height: 6vh;
  border: 1px solid transparent;
  background-color: #fff;
}

.signup {
  width: 50%;
  font-family: "Roboto", sans-serif;
}
.signup .signup-wrapper {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup .signup-wrapper .create-acc {
  color: #dc4734;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 12px;
}
.signup .signup-wrapper .signup-form {
  box-shadow: 0px 3px 20px 0px rgba(13, 13, 13, 0.2);
  text-align: center;
  flex-direction: column;
  width: 80%;
}
.signup .signup-wrapper .signup-form .signup-fields {
  padding: 10px 100px 50px;
  padding-bottom: 0px;
}
.signup .signup-wrapper .signup-form .signup-fields .single-field {
  width: 100%;
  border: none;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  padding-top: 10px;
  color: #5f5f5f;
}
.signup .signup-wrapper .signup-form .signup-fields .single-field :focus-visible {
  outline-width: 0px;
}
.signup .signup-wrapper .signup-form .signup-fields .single-field input {
  max-width: 100%;
  line-height: normal;
}
.signup .signup-wrapper .signup-form .signup-fields .single-field input::placeholder {
  color: #fff;
}
.signup .signup-wrapper .signup-form .signup-fields .single-field input:focus {
  outline: none;
}
.signup .signup-wrapper .signup-form .signup-fields .submit-btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  padding: 15px 20px;
  display: block;
  border: 1px solid transparent;
  background-color: #dc4734;
  width: 100%;
  margin-top: 23px;
}
.signup .signup-wrapper .title {
  color: #fff;
  font-size: 18px;
  background-color: #dc4734;
  padding: 23px 0;
  margin: 0px;
}
.signup .signup-wrapper h6 {
  font-size: 16px;
  padding-top: 5px;
  color: #333333;
  font-family: "Roboto", sans-serif;
}
.signup .signup-wrapper h6 button {
  border: 0px;
  background-color: transparent;
  color: #dc4734;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
}

/*# sourceMappingURL=style.css.map */
