@import "../../../utils/variables.scss";

.upload-pic{
    flex-direction: column;
    label{
        font-family: $main-font;
        font-size: $standard-size;
        font-weight: 500;
        align-self: center;
        color: $main-clr;

    }
    input[type=file]::file-selector-button {
        visibility:hidden;
    width: 30%;
      }
      input[type=file]{
          width: 70%;
      }
      input[type=submit]{
       margin-bottom: 20px;
    }
    input {
        align-self: center;
    font-family: $main-font;
    font-size: $standard-size;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    padding: 15px 20px;
    display: block;
    border: 1px solid transparent;
    background-color: $main-clr;
    max-width: 500px;
    width: 70%;
    margin-top: 23px;
    border: #fff 1px solid;
}}