@import "../../../../utils/variables.scss";

.single-post-container {
    background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 20px 0px rgba($color: #0d0d0d, $alpha: 0.2);
    padding-bottom: 5px;
	margin-bottom: 25px;
	.card-left {
		img {
			width: 50px;
			border-radius: 50%;
			object-fit: cover;
			max-height: 50px;
			margin-right: 25px;
		}
	}

	width: 700px;
	padding: 30px;

	.card-right {
		flex-direction: column;
		width: 100%
		iframe {
			width: 600px;
			height: 400px;
		}
        .card-footer{
            justify-content: space-between;
            padding-top: 0px;
			align-items: baseline;
            .like-container{
            height: 20px;
                .not-liked{
                    height: 22px;
                    align-items: center;
                    align-self: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(223, 65, 133);
                    border: 1px solid transparent;
                }
				.liked{
                    height: 22px;
                    align-items: center;
                    align-self: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(223, 65, 133);
                    border: 1px solid transparent;
                }

            }
            .icons {
                font-size: 25px;
                color: $main-clr;
                margin-left: 5px;
                margin-top: 15px;
                button {
                    height: 22px;
                    align-items: center;
                    align-self: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    border: 1px solid transparent;
                }}

        }
        .button-container{
            justify-content: flex-end;
            margin-top: 10px;
            .icons {
                font-size: 25px;
                color: $main-clr;
                margin-left: 5px;
                button {
                    height: 22px;
                    align-items: center;
                    align-self: center;
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    background-color: $main-clr;
                    border: 1px solid transparent;
                }
            }
        }

		h3 {
			margin: 0px;
			font-family: "Roboto", sans-serif;
			font-size: 18px;
			font-weight: 500;
			margin-top: 4px;
			margin-bottom: 10px;
		}
		span {
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			color: grey;
		}
		p {
			font-family: "Roboto", sans-serif;
			font-size: 18px;
			margin: 20px 0px;
			height: 50px;
		}
        .poster-name {
            flex-direction: column;
        }
		.update-post {
			textarea {
				font-family: "Roboto", sans-serif;
				font-size: 18px;
				resize: none;
				outline: none;
				width: 500px;
				height: 80px;
				border: none;
				box-shadow: inset 0px 1px 50px 0px rgba($color: #8d8989, $alpha: 0.2);
			}
			button {
				margin-left: 10px;
				height: 22px;
				align-items: center;
				align-self: center;
				font-family: "Roboto", sans-serif;
				font-size: 14px;
				font-weight: 500;
				color: #fff;
				background-color: $main-clr;
				border: 1px solid transparent;
			}
			.card-header {
				justify-content: flex-start;
             
			}
			
		}
	}
}
